Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    performance-*,
    modernize-use-nullptr,
    modernize-use-override,
    readability-braces-around-statements,
    readability-else-after-return,
    readability-identifier-naming,
    misc-unused-parameters,
    cppcoreguidelines-init-variables,
    -performance-avoid-endl,
    -bugprone-easily-swappable-parameters,

HeaderFilterRegex: '.*/(src|include)/.*'
WarningsAsErrors: ''

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypeAliasCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.MethodCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: m_
  - key: readability-identifier-naming.ProtectedMemberPrefix
    value: m_
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  # Don't care about constants. UPPER_CASE would be nice for macro-like, global, or namespace local constants
  - key: readability-identifier-naming.ConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.ConstexprVariableCase
    value: aNy_CasE
  - key: readability-identifier-naming.GlobalConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.StaticConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.LocalConstantCase
    value: aNy_CasE
  - key: readability-identifier-naming.ClassConstantCase
    value: aNy_CasE
